.vehicle-container{
    height: 200px;
    width: 200px;
    margin: 30px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: white;
    /* margin-top: 50%; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 0.5s;
    border-radius: 5px;
}
.vehicle-container:hover{
    transform: translateY(-10px);
}
.img-container img{
    width: 160px;
    height: 130px;
}
.img-container{
    padding: 5px;
    text-align: center;
}
.text-container{
    padding: 5px;
    text-align: center;
    justify-content: center;
    border: 1px solid gray;
    margin-top: 2px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
@media only screen and (max-width: 600px){
    .vehicle-container{
        margin-left: 25%;
        margin-right: 25%;
    }
}